main{
    margin-top: 230px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 250px auto;
    min-width: 150px;
    width: 80%;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.boxs{
    display: flex;
    flex-basis: 550px;
    /* border: 1px solid blue; */
    align-items: center;
    justify-content: center;
    height: 300px;
    margin: 15px;
}

.boxs img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.boxCol{
    flex-direction: column;
}

.boxs a{
    font-size: 20px;
    text-decoration: none;
    color: #D04B38;
}

.boxs a:hover{
    font-size: 22px;
    transition: 0.5s;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

.boxs p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding:20px;
    text-align: center;
}